<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pctc.dao.QuestionTypeMapper" >
  <resultMap id="BaseResultMap" type="com.pctc.model.QuestionType" >
    <id column="qt_id" property="qtId" jdbcType="BIGINT" />
    <result column="qt_insid" property="qtInsid" jdbcType="BIGINT" />
    <result column="qt_name" property="qtName" jdbcType="VARCHAR" />
    <result column="qt_grade" property="qtGrade" jdbcType="INTEGER" />
    <result column="qt_create_by" property="qtCreateBy" jdbcType="VARCHAR" />
    <result column="qt_create_time" property="qtCreateTime" jdbcType="DATE" />
    <result column="qt_modify_by" property="qtModifyBy" jdbcType="VARCHAR" />
    <result column="qt_modify_time" property="qtModifyTime" jdbcType="DATE" />
    <result column="qt_delete" property="qtDelete" jdbcType="BIT" />
    <result column="qt_version" property="qtVersion" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    qt_id, qt_insid, qt_name, qt_grade, qt_create_by, qt_create_time, qt_modify_by, qt_modify_time, 
    qt_delete, qt_version
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pctc.model.QuestionTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from question_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from question_type
    where qt_id = #{qtId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from question_type
    where qt_id = #{qtId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pctc.model.QuestionTypeExample" >
    delete from question_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pctc.model.QuestionType" >
    insert into question_type (qt_id, qt_insid, qt_name, 
      qt_grade, qt_create_by, qt_create_time, 
      qt_modify_by, qt_modify_time, qt_delete, 
      qt_version)
    values (#{qtId,jdbcType=BIGINT}, #{qtInsid,jdbcType=BIGINT}, #{qtName,jdbcType=VARCHAR}, 
      #{qtGrade,jdbcType=INTEGER}, #{qtCreateBy,jdbcType=VARCHAR}, #{qtCreateTime,jdbcType=DATE}, 
      #{qtModifyBy,jdbcType=VARCHAR}, #{qtModifyTime,jdbcType=DATE}, #{qtDelete,jdbcType=BIT}, 
      #{qtVersion,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pctc.model.QuestionType" >
    insert into question_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="qtId != null" >
        qt_id,
      </if>
      <if test="qtInsid != null" >
        qt_insid,
      </if>
      <if test="qtName != null" >
        qt_name,
      </if>
      <if test="qtGrade != null" >
        qt_grade,
      </if>
      <if test="qtCreateBy != null" >
        qt_create_by,
      </if>
      <if test="qtCreateTime != null" >
        qt_create_time,
      </if>
      <if test="qtModifyBy != null" >
        qt_modify_by,
      </if>
      <if test="qtModifyTime != null" >
        qt_modify_time,
      </if>
      <if test="qtDelete != null" >
        qt_delete,
      </if>
      <if test="qtVersion != null" >
        qt_version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="qtId != null" >
        #{qtId,jdbcType=BIGINT},
      </if>
      <if test="qtInsid != null" >
        #{qtInsid,jdbcType=BIGINT},
      </if>
      <if test="qtName != null" >
        #{qtName,jdbcType=VARCHAR},
      </if>
      <if test="qtGrade != null" >
        #{qtGrade,jdbcType=INTEGER},
      </if>
      <if test="qtCreateBy != null" >
        #{qtCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="qtCreateTime != null" >
        #{qtCreateTime,jdbcType=DATE},
      </if>
      <if test="qtModifyBy != null" >
        #{qtModifyBy,jdbcType=VARCHAR},
      </if>
      <if test="qtModifyTime != null" >
        #{qtModifyTime,jdbcType=DATE},
      </if>
      <if test="qtDelete != null" >
        #{qtDelete,jdbcType=BIT},
      </if>
      <if test="qtVersion != null" >
        #{qtVersion,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pctc.model.QuestionTypeExample" resultType="java.lang.Integer" >
    select count(*) from question_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update question_type
    <set >
      <if test="record.qtId != null" >
        qt_id = #{record.qtId,jdbcType=BIGINT},
      </if>
      <if test="record.qtInsid != null" >
        qt_insid = #{record.qtInsid,jdbcType=BIGINT},
      </if>
      <if test="record.qtName != null" >
        qt_name = #{record.qtName,jdbcType=VARCHAR},
      </if>
      <if test="record.qtGrade != null" >
        qt_grade = #{record.qtGrade,jdbcType=INTEGER},
      </if>
      <if test="record.qtCreateBy != null" >
        qt_create_by = #{record.qtCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.qtCreateTime != null" >
        qt_create_time = #{record.qtCreateTime,jdbcType=DATE},
      </if>
      <if test="record.qtModifyBy != null" >
        qt_modify_by = #{record.qtModifyBy,jdbcType=VARCHAR},
      </if>
      <if test="record.qtModifyTime != null" >
        qt_modify_time = #{record.qtModifyTime,jdbcType=DATE},
      </if>
      <if test="record.qtDelete != null" >
        qt_delete = #{record.qtDelete,jdbcType=BIT},
      </if>
      <if test="record.qtVersion != null" >
        qt_version = #{record.qtVersion,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update question_type
    set qt_id = #{record.qtId,jdbcType=BIGINT},
      qt_insid = #{record.qtInsid,jdbcType=BIGINT},
      qt_name = #{record.qtName,jdbcType=VARCHAR},
      qt_grade = #{record.qtGrade,jdbcType=INTEGER},
      qt_create_by = #{record.qtCreateBy,jdbcType=VARCHAR},
      qt_create_time = #{record.qtCreateTime,jdbcType=DATE},
      qt_modify_by = #{record.qtModifyBy,jdbcType=VARCHAR},
      qt_modify_time = #{record.qtModifyTime,jdbcType=DATE},
      qt_delete = #{record.qtDelete,jdbcType=BIT},
      qt_version = #{record.qtVersion,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pctc.model.QuestionType" >
    update question_type
    <set >
      <if test="qtInsid != null" >
        qt_insid = #{qtInsid,jdbcType=BIGINT},
      </if>
      <if test="qtName != null" >
        qt_name = #{qtName,jdbcType=VARCHAR},
      </if>
      <if test="qtGrade != null" >
        qt_grade = #{qtGrade,jdbcType=INTEGER},
      </if>
      <if test="qtCreateBy != null" >
        qt_create_by = #{qtCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="qtCreateTime != null" >
        qt_create_time = #{qtCreateTime,jdbcType=DATE},
      </if>
      <if test="qtModifyBy != null" >
        qt_modify_by = #{qtModifyBy,jdbcType=VARCHAR},
      </if>
      <if test="qtModifyTime != null" >
        qt_modify_time = #{qtModifyTime,jdbcType=DATE},
      </if>
      <if test="qtDelete != null" >
        qt_delete = #{qtDelete,jdbcType=BIT},
      </if>
      <if test="qtVersion != null" >
        qt_version = #{qtVersion,jdbcType=INTEGER},
      </if>
    </set>
    where qt_id = #{qtId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pctc.model.QuestionType" >
    update question_type
    set qt_insid = #{qtInsid,jdbcType=BIGINT},
      qt_name = #{qtName,jdbcType=VARCHAR},
      qt_grade = #{qtGrade,jdbcType=INTEGER},
      qt_create_by = #{qtCreateBy,jdbcType=VARCHAR},
      qt_create_time = #{qtCreateTime,jdbcType=DATE},
      qt_modify_by = #{qtModifyBy,jdbcType=VARCHAR},
      qt_modify_time = #{qtModifyTime,jdbcType=DATE},
      qt_delete = #{qtDelete,jdbcType=BIT},
      qt_version = #{qtVersion,jdbcType=INTEGER}
    where qt_id = #{qtId,jdbcType=BIGINT}
  </update>
  
  
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from question_type
    where qt_name=#{qtName,jdbcType=VARCHAR}
  </select>
  
</mapper>